<p>employ-paginator-sort works!</p>
<div class="mat-elevation-z8">
    <mat-form-field appearance="outline" class="mb-3">
  <mat-label>Search</mat-label>
  <input type="text" [(ngModel)]="filter" matInput (keyup)="applyFilter(filter)" placeholder="Filter all fields">
</mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Id Column -->
      <ng-container matColumnDef="empno">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employ No. </th>
        <td mat-cell *matCellDef="let element"> {{element.empno}} </td>
      </ng-container>
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Employ Name. </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <ng-container matColumnDef="gender">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Gender. </th>
        <td mat-cell *matCellDef="let element"> {{element.gender}} </td>
      </ng-container>
      <ng-container matColumnDef="dept">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Department. </th>
        <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
      </ng-container>
      <ng-container matColumnDef="desig">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Designation. </th>
        <td mat-cell *matCellDef="let element"> {{element.desig}} </td>
      </ng-container>
       <ng-container matColumnDef="basic">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Salary. </th>
        <td mat-cell *matCellDef="let element"> {{element.basic}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>