<p>menu works!</p>
<a [routerLink]="['first']">First Component</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 

<a [routerLink]="['second']">Second Component</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<a [routerLink]="['third']">Third Component</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<a [routerLink]="['four']">Fourth Component</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<a [routerLink]="['five']">Five Component</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<a [routerLink]="['twoway']">TwoWay Component</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
<a [routerLink]="['calc']">Calc Component</a>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 





